/* @media screen and (min-width:768px){}のブレイクポイント */

/* main */

@media screen and (max-width: 768px) {
    main {
        & > .main_container {
            height: 670px;

            & > .background {
                width: 400px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    /* business */

    .business {
        padding: 70px 0px 0px 0px;
    }
    .business_title {
        font-size: 60px;
        width: 70vw;
        margin: 0 auto;
    }

    .business_container {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        padding: 60px 70px;
    }
    .text_title {
        height: 80px;
    }

    .sub_img {
        width: 50%;
        max-width: 300px;
        margin: 20px;
    }
}

@media screen and (max-width: 768px) {
    /* news */
.news{
    padding-top: 70px;
    padding-bottom: 80px;
}

.news_title{
    font-size: 60px;
    width: 70vw;
    margin: 0 auto;
}

.news_card{
    width: 100vw;
    padding: 80px 0px 50px 0px;

}

.news_link{
    padding: 0px 20px 0px 20px;
}

.news-link {
    padding-left: 0px;
    margin: 0px 35px 0px 20px;
}

.news_link_meta{
    gap: 30px;
}

}

@media screen and (max-width: 768px) {
    /* recruit */
.recruit_title{
    font-size: 60px;
    width: 70vw;
    margin: 0 auto;
}

.recruit_sub_title {
    font-size: 30px;
    width: 70vw;
    margin: 0 auto;
}

.recruit_text {
    font-size: 20px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.recruit_button {
    padding: 16px 68px;
    font-size: 15px;
}

}

@media screen and (max-width: 768px) {
    /* contact */
.contact_title{
    font-size: 60px;
    width: 70vw;
    margin: 0 auto;
}

.contact_sub_title {
    font-size: 22px;
    letter-spacing: 2.0;
}

.contact_button{
    padding: 16px 68px;
    font-size: 15px;
}

}

@media screen and (max-width: 768px) {
    /* footer */
.footer_logo {
    height: 100px;
}

.privacy{
    margin: 0px 0px 25px 0px;
}


}